mp_*
Example*
img/
*.jpg
*.png

PuzzleBoard.py
_PuzzleBoard.py

*.tmp
*.log
*.pid
*.swp

.git
.gitignore
.svn
.hg
.cvsignore

node_modules/
dist/
build/
temp/

*.md
*.tar
*.zip
*.tar.gz

Dockerfile
.dockerignore

.DS_Store
Thumbs.db

__pycache__